FLASK_ENV=development

SECRET_KEY=change-this-secret
JWT_SECRET_KEY=change-this-jwt-secret
JWT_EXPIRES_MINUTES=60

DATABASE_URL=postgresql+psycopg2://postgres:your_postgres_password@localhost:5432/petshop_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=your_redis_username
REDIS_PASSWORD=your_redis_password